body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 40vw;
    margin: 10vh 0;
    box-sizing: border-box;
}

.container h2 {
    text-align: center;
}

input {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    background: #f9f9f9;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.delete-btn {
    background-color: red;
}

.edit-btn {
    background-color: orange;
}

.complete-btn {
    background-color: green;
}

@media (max-width: 500px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    input, button {
        font-size: 0.9rem;
    }

    li {
        font-size: 0.9rem;
    }

    .buttons {
        gap: 3px;
    }

    button {
        font-size: 0.8rem;
        min-width: 60px;
    }
}



   



   
