@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 70vh;
    margin: 10vh 0;
}

.container h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
}

#b1 {
    background-color: blueviolet;
}

#b1:hover {
    background-color: purple;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

li:hover {
    background: #e6e6e6;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}

.buttons .complete-btn {
    color: green;
}

.buttons .complete-btn:hover {
    color: darkgreen;
    transform: scale(1.2);
}

.buttons .edit-btn {
    color: orange;
}

.buttons .edit-btn:hover {
    color: darkorange;
    transform: scale(1.2);
}

.buttons .delete-btn {
    color: red;
}

.buttons .delete-btn:hover {
    color: darkred;
    transform: scale(1.2);
}

@media (max-width: 500px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    input{
        font-size: 0.9rem;
    }

    li {
        font-size: 0.9rem;
    }

    .buttons {
        gap: 5px;
    }

    button {
        font-size: 0.8rem;
        min-width: 50px;
    }
}





   

  
